* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "roboto";
  
  background-color: #f5f5f5;
}

button {
  padding: 2px 4px;
  margin: 0;
  
  font-size: inherit;
  color: rgba(0,0,0, 0.5);
  
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button.active, button:hover {
  background-color: #b3e9f2;
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  
  width: 650px;
  max-height: 650px;
  
  margin: auto;
  padding: 16px 45px;
  
  font-size: 0.875rem;
  
  background-color: #d3f1f3;
  border-radius: 12px;
  box-shadow: 2px 4px 8px 0px rgba(86, 100, 104, 0.16);
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  row-gap: 16px;
  
  margin-bottom: 8px;
}

.add-form .add {
  width: 100%;
  padding: 8px 8px;
  
  border: none;
  border-radius: 5px;
}

.add-form .add-btn {
  padding: 2px 22px;
  
  font-size: 1.125rem;
  font-weight: 800;
  color: black;
  
  background-color: #b3e9f2;
}

.add-form .add-btn:hover {
  background-color: #c1e3ef;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 8px 8px;
  
  color: rgba(0,0,0, 0.5);
}

.controls .counter {
  color: #589054;
}

.controls .filters {
  display: flex;
  column-gap: 2px;
}

.controls .delete-done {
  font-weight: 800;
  color: #d34463;
}

.items {
  height: 100%;
  overflow-y: scroll;
  
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  column-gap: 4px;
  
  padding: 8px 8px;
  margin-bottom: 8px;
  
  background-color: #c1e3ef;
  border-radius: 5px;
}

.item .input-container {
  display: flex;
  flex-grow: 2;
  
  column-gap: 8px;
}

.item .input-container .input-checkbox {
  margin: 0;
}

.item .input-container label {
  flex-grow: 2;
}

.item .input-container label.checked {
  color: rgba(0,0,0, 0.5);
  text-decoration: line-through;
}

.item .input-container .input-edit {
  flex-grow: 2;
  
  background-color: #d3f1f3;
  
  border: none;
  border-radius: 5px;
}

.item .delete {
  justify-self: flex-end;
}