.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 4px;

  padding: 8px 8px;
  margin-bottom: 8px;

  background-color: #c1e3ef;
  border-radius: 5px;
}

.root .inputContainer {
  display: flex;
  flex-grow: 2;

  column-gap: 8px;
}

.root .inputContainer .inputCheckbox {
  margin: 0;
}

.root .inputContainer label {
  flex-grow: 2;
}

.root .inputContainer label.checked {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}